body {
    background: lightblue;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment{
    display:flex;
    padding: 10px;
    margin: 10px;
    background-color: lightslategray;
}

.assignment img{
    width: 250px;
    height:300px;
    padding: 10px;
}

.assignment h2{
    color: black;
}
h1 {
    color:black
}